nav{
    padding: 10px;
    background-color: brown;
}
nav a{
    padding: 5px;
    text-transform: uppercase;
    border-radius: 5px;
    display: inline-block;
    margin: 2px;
    text-decoration: none;
    color: cornsilk;
}