<p>pipes-demo works!</p>


<section>

   <p>
        Original:<strong>{{str}}</strong>
        Original:<strong>{{str}}</strong>
        Original:<strong>{{str}}</strong>

   </p>>

   <p>
    
    Original:<strong>{{num}}</strong>
    <strong>{{num}}</strong>
    <strong>{{num}}</strong>
    <strong>{{num}}</strong>

    </p>

    <p>
    
        Original:<strong>{{today}}</strong>
        <strong>{{today|date:'short'}}</strong>
        <strong>{{today|date:'long'}}</strong>
        <strong>{{today}}</strong>
    
    </p>

    <p>
    
        Original:<strong>{{emp}}</strong>
        Original:<strong>{{emp|json}}</strong>
       
    
    </p>

</section>

